.button {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  background-color: #FFD375;
  border: 2px solid #ffc341;
  border-radius: 12px;
  margin-top: 48px;
  width: 100%;
  height: 56px;
}