@import '@fontsource/satisfy';
@import 'variables';

.header {
  font-family: 'Satisfy', sans-serif;
  background-color: $purple-color;
  color: $yellow-color;
  border-bottom: 2px solid $yellow-color;
  position: sticky;
  top: 0;
  z-index: 1;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: $header-height;

  }

  &__name {
    margin-left: 64px;
    margin-top: 8px;
    font-size: -webkit-xxx-large;
    margin-bottom: 0px;
  }
}