.header {
  font-family: 'Satisfy', sans-serif;
  background-color: #744c87;
  color: #FFD375;
  border-bottom: 2px solid #FFD375;
  position: sticky;
  top: 0;
  z-index: 1;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 72px;

  }

  &__name {
    margin-left: 64px;
    margin-top: 8px;
    font-size: -webkit-xxx-large;
    margin-bottom: 0px;
  }
}