.header {
  font-family: 'Satisfy', sans-serif !important;
  background-color: #FFD375;

  &__content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-height: 80px;

  }

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__name {
    margin-left:-24px;
    font-size: -webkit-xxx-large;
  }
}