.recipes-filters {
  background: #FCEED6;
  background-image: radial-gradient(#FFD375 1px, transparent 0);
  background-size: 48px 48px;
  background-position: 24px 24px;
  height: 100%;
  width: 600px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  &__title {
    margin: 4px 0px;
  }

  &__value {
    background-color: #FFD375;
    height: 24px;
    border-radius: 4px;
    border: 2px solid #ffc341;
    font-family: 'Be Vietnam Pro', sans-serif;
  }
}