@import 'variables';

.recipe-info {
  background-color: $grey-color;
  height: calc(100vh - $header-height);
  display: flex;
  align-items: center;
  justify-content: center;

  &__card {
    background-color: $white-color;
    border-radius: 8px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    max-height: 80%;
    height: 80%;
  }

  &__img {
    width: 40%;
    margin: 8px;

    & img {
      width: 100%;
      border-radius: 8px;
    }
  }

  &__information {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 8px;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 24px;
    min-width: 24px;
  }

  &__time {
    display: flex;
    align-items: center;
  }

  &__description {
    min-height: 500px;
  }
}