.recipes-view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;

  &__filters {
    background-color: #FF9043;
    height: 100%;
    width: 16%;
    padding: 0px 8px;
  }

  &__items {
    padding: 0px 8px;
  }
}