$purple-color: #744C87;
$light-yellow: #FCEED6;
$yellow-color: #FFD375;
$bold-yellow-color: #FFC341;
$grey-color: #EAE8E4;
$white-color: #FFFFFF;
$bone-white-color: #FFFAF5;
$pink-flamingo-color: #FE675E;
$black-color: #000000;

$header-height: 72px;