<main class="recipe-info">
  <app-confirmation-dialog [contentHtml]="deleteDialog"></app-confirmation-dialog>
  <section aria-label="Detalle de la receta" class="recipe-info__card">
    <section aria-label="Imagen" class="recipe-info__img">
      <img
        alt="Imagen de la receta"
        [src]="recipe?.image"
        class="recipe-info__img"
      />
    </section>
    <section
      aria-label="Información de la receta"
      class="recipe-info__information"
    >
      <section aria-label="Título de la receta" class="recipe-info__title">
        <h1 class="recipe-info__name">{{ recipe?.name }}</h1>
        <img alt="Nº de personas" [src]="getPeopleLogo()" class="logo" [alt]="recipe?.people" [title]="recipe?.people" />
        <div class="recipe-info__time">
          <img alt="Tiempo" src="../../../../assets/time.png" class="logo" />
          <p>{{ recipe?.time | minutesToHours }}</p>
        </div>
        <img
          alt="Editar receta"
          src="../../../../assets/edit.png"
          class="logo logo--click"
        />
        <img
          alt="Eliminar receta"
          src="../../../../assets/delete.png"
          class="logo logo--click"
          (click)="showConfirmationDialog()"
        />
      </section>
      <section aria-label="Descripción de la receta" class="recipe-info__description">
        <p>Ingredientes</p>
        <ul>
          @for (ingredient of recipe?.ingredients; track $index) {
          <li>{{ ingredient }}</li>
          }
        </ul>
        <p>Preparación</p>
        <ol>
          @for (preparation of recipe?.preparation; track $index) {
          <li>{{ preparation }}</li>
          }
        </ol>
        @if (recipe?.notes) {
        <p>Notas</p>
        <p>{{ recipe.notes }}</p>
        }
      </section>
    </section>
  </section>
</main>
