<main class="recipes-view">
  <aside class="recipes-filters">
    <form [formGroup]="searchRecipeForm" (ngSubmit)="onSubmit()">
      <div class="recipes-filters__item">
        <label for="name" class="recipes-filters__title">Nombre</label>
        <input id="name" type="text" formControlName="name" class="recipes-filters__value">
      </div>
      <div class="recipes-filters__item">
        <label for="ingredients" class="recipes-filters__title">Ingredientes</label>
        <input id="ingredients" type="text" formControlName="ingredients" class="recipes-filters__value">
      </div>
      <div class="checkbox-wrapper">
        <p class="recipes-filters__title">Personas</p>
        @for (person of people; track $index) {
        <label class="checkbox">
          <input type="checkbox" class="checkbox__trigger hidden" (change)="onChangePeople($event)" [value]="person"
            name="people" />
          <span class="checkbox__symbol">
            <svg aria-hidden="true" class="checkbox__icon" width="28px" height="28px" viewBox="0 0 28 28" version="1"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M4 14l8 7L24 7"></path>
            </svg>
          </span>
          <p class="checkbox__text">{{ person }}</p>
        </label>
        }
      </div>
      <div class="recipes-filters__item">
        <label for="time" class="recipes-filters__title">Tiempo</label>
        <mat-slider min="1" max="240" formGroupName="time">
          <input [value]="min" matSliderStartThumb (input)="onSliderMinInput($event)">
          <input [value]="max" matSliderEndThumb (input)="onSliderMaxInput($event)">
        </mat-slider>
      </div>
      <div class="recipes-filters__item">
        <label for="type" class="recipes-filters__title">Tipo</label>
        <select id="type" formControlName="type" class="recipes-filters__value" (change)="onChangeType($event)">
          @for (type of types; track $index) {
          <option [value]="type">{{type}}</option>
          }
        </select>
        
      </div>
      <button type="submit" [disabled]="!searchRecipeForm.valid" class="button">Buscar</button>
    </form>
  </aside>
  <section class="recipes-view__items">
    @if (recipes) {
    <div class="recipe-list">
      @for (recipe of recipes; track $index) {
      <div class="recipe-item">
        <img [src]="recipe.image" class="recipe-item__img">
        <p class="recipe-item__name">{{ recipe.name }}</p>
      </div>
      <div class="recipe-item">
        <img [src]="recipe.image" class="recipe-item__img">
        <p class="recipe-item__name">{{ recipe.name }}</p>
      </div>
      <div class="recipe-item">
        <img [src]="recipe.image" class="recipe-item__img">
        <p class="recipe-item__name">{{ recipe.name }}</p>
      </div>
      <div class="recipe-item">
        <img [src]="recipe.image" class="recipe-item__img">
        <p class="recipe-item__name">{{ recipe.name }}</p>
      </div>
      <div class="recipe-item">
        <img [src]="recipe.image" class="recipe-item__img">
        <p class="recipe-item__name">{{ recipe.name }}</p>
      </div>
      <div class="recipe-item">
        <img [src]="recipe.image" class="recipe-item__img">
        <p class="recipe-item__name">{{ recipe.name }}</p>
      </div>
      }
    </div>
    }
  </section>
</main>