<main class="recipes-view">
  <app-filters [isOpen]="showFilterBar" (recipes)="updateRecipes($event)"></app-filters>
  <section class="recipes-view__items" aria-label="Vista de las recetas">
    <button class="button" (click)="toggleFilterBar($event)">
      <img src="../../../../assets/searchLogo.png" class="button__logo">
      <span>Filtros</span>
    </button>
    @if (recipes) {
    <div class="recipe-list">
      @for (recipe of recipes; track $index) {
      <article class="recipe-item" [attr.data-test]="'recipe-' + recipe.name">
        <img [src]="recipe.image" class="recipe-item__img">
        <p class="recipe-item__name">{{ recipe.name }}</p>
      </article>
      }
    </div>
    }
  </section>
  <app-pagination></app-pagination>
</main>
