// Estilos personalizados de los elementos de angular material
@use '@angular/material' as mat;
@include mat.core();
@import 'styles/variables.scss';

$receteame-primary: mat.define-palette(mat.$orange-palette, 400);
$receteame-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$receteame-warn: mat.define-palette(mat.$red-palette);

$receteame-theme: mat.define-light-theme((
  color: (
    primary: $receteame-primary,
    accent: $receteame-accent,
    warn: $receteame-warn,
  )
));

@include mat.all-component-themes($receteame-theme);


.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--filled.mdc-text-field--no-label {
  background-color: $yellow-color;
}

html, body {
  margin: 0 auto;
  font-family: 'Be Vietnam Pro', sans-serif;
  height: 100%;
  overflow: hidden;
  background-color: $purple-color;
}
