@import '../variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;
  background-color: $yellow-color;
  border: 2px solid $bold-yellow-color;
  border-radius: 12px;
  margin-top: 16px;
  cursor: pointer;
  padding: 16px;

  &--small {
    width: 32px;
    height: 32px;
  }

  &--secondary {
    background-color: $grey-color;
    border: 2px solid $grey-color;
  }

  &--current {
    background-color: $pink-flamingo-color;
    border: 2px solid $pink-flamingo-color;
    color: $white-color;
  }

  &--no-current {
    background-color: transparent;
    border: 2px solid transparent;
  }

  &__logo {
    width: 20px;
    margin-right: 4px;
  }
}